# MySQL
MYSQL_ROOT_PASSWORD=change_me_mysql_root_password
# Nacos MySQL persistence
MYSQL_SERVICE_DB_NAME=nacos_config
MYSQL_SERVICE_USER=nacos
MYSQL_SERVICE_PASSWORD=change_me_nacos_db_password
# Nacos auth
NACOS_AUTH_TOKEN=change_me_at_least_32_chars_random_token
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=security

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBITMQ_DEFAULT_VHOST=/
